<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>患者保健証変更機能</title>
</head>
<body>
<h2>患者保健証変更</h2>
<form action="/change_patient_insurance_card" method="POST">
    <label for="insuranceNumber">Insurance Number:</label><br>
    <input type="text" id="insuranceNumber" name="insuranceNumber"><br>
    <label for="expirationDate">Expiration Date:</label><br>
    <input type="date" id="expirationDate" name="expirationDate"><br><br>
    <input type="submit" value="Confirm Change">
</form>
</body>
</html>